#  Источник логов из файлов
[sources.nginx_logs]
type = "file"
include = ["/var/log/nginx/access.log", "/var/log/nginx/error.log"]
read_from = "beginning"

#  Преобразование логов
[transforms.parse_logs]
type = "remap"
inputs = ["nginx_logs"]
source = '''
.timestamp, err = format_timestamp(now(), "%Y-%m-%d %H:%M:%S")
.host = get_env_var("HOSTNAME") ?? "lighthouse"
.log_type = "nginx"
'''

#  Фильтр пустых сообщений
[transforms.filter_empty_logs]
type = "filter"
inputs = ["parse_logs"]
condition = '''
exists(.message) && .message != ""
'''

#  Отправка логов в другой Vector (compute-vm-clickhouse2)
[sinks.vector_sink]
type = "vector"
inputs = ["filter_empty_logs"]  # Обновлено! Используем корректный input
address = "{{ hostvars['vector-02'].ansible_host }}:6000"   
batch.max_bytes = 1048576
batch.timeout_secs = 5
version = "2"

#  Отправка в консоль для дебага
[sinks.debug_output]
type = "console"
inputs = ["filter_empty_logs"]  # Обновлено! Используем корректный input
encoding.codec = "json"

[api]
enabled = true